{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="get">
        {{ filter.form|crispy}}
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <table class="table">
            <tr>
                    <th>Samyak Id</th>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>email</th>
                    <th>Gender</th>
                    <th>reg amount</th>
                    <th>id Number</th>

                    <th>Ambassador</th>
                </tr>
      {% for user in filter.qs %}
      <tr>
            <td>{{user.user.samyak_id}}</td>

            <td>{{ user.user.username }}</td>
            <td>{{ user.user.fullname}}</td>

            <td>{{ user.user.email }}</td>

            <td>{{user.user.get_gender_display}}</td>
            <td>{{user.user.reg_amount}}</td>
            <td>{{user.user.id_number}}</td>
            <td>{{user.user.is_amb}}</td>
        </tr>
      {% endfor %}
    </table>

{% endblock %}

