{% extends 'navbase.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <title>Events|Samyak2k19</title>
</head>
<section class="engine"><a href="#"></a></section><section class="header5 cid-rzAGrElSU9 mbr-fullscreen" id="header5-10">




    <div class="container">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">
                    TECHNICAL EVENTS
                </h1>
                <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style">
                        This year Samyak's  events is going to be one of its kind, satisfying wide variety of students who attend this magnificent fest, The events strike the balance between fun and technicality. We give a platform to learn through experience and fun
                </p>

                <div class="mbr-section-btn align-center">
                        <a class="btn btn-md btn-secondary display-4" href="{% url 'products:product-list' %}">THEME BASED EVENTS</a>
                        <a class="btn btn-md btn-secondary display-4" href="{% url 'products:departmentevents' %}">DEPARTMENT EVENTS </a> <br>

                        <a class="btn btn-md btn-white-outline display-4" href="{% url 'accounts:my_profile' %}">My events</a>
                    </div><br>
                    <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style">
                        <marquee behavior="" direction="">* Register for all Technical and Non-Technical Events for RS-{{amount}} (""*Not applicablie for workshops"")</marquee>

                    </p>
                    <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style">
                        Click on below icon to Register

                    </p>
                    <div class="mbr-section-btn align-center">
                            {% if not request.user.reg_amount %}
                            <!--<a class="btn btn-md btn-secondary display-4" href="{% url 'payments:registrationpayment' %}">Register Here</a>-->
                        <a class="btn btn-md btn-secondary display-4" href="">Register Here</a>
                            {% else %}
                            <a class="btn btn-md btn-secondary display-4" href="{% url 'newapp:events' %}">Registered</a>
                            {% endif %}
                    </div>
            </div>
        </div>
    </div>

    <!----<div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>-->
</section>

<section class="cid-rzAGuXgmY4" id="footer1-11">





    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="{% url 'newapp:main' %}">
                        <img src="{% static 'images/logo-1-122x122.png' %}" alt="" title="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">
                    K L UNIVERSITY
                    <br>VADDESWARAM
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: samyak@kluniversity.in
                    <br>Phone:
                    <p>1)9154438039  2)94942748999</p>


                    <p>3)9392112299 </p>

                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-primary" target="__blank" href="https://www.kluniversity.in">KL UNIVERSITY</a>


                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">

                    </p>
                </div>
                <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://twitter.com/KLUniversity" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/kl.samyak/" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/channel/UCPrOyzURgK0t6qVVeKWUcaQ" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.instagram.com/kl.samyak/" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>


                        </div>
                    </div>
        </div>
    </div>
</section>


</body>
</html>
{% endblock %}
